.app {
    padding: 15px 15px;
    margin: 40px auto;
    border-radius: 5px;
    max-width: 53%;
    background: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
    background-size: cover;
    font-family: "Merriweather Sans", sans-serif;
    border: 2px solid #1f4869;

}

.row-fluid {
    display: flex;
    justify-content: space-evenly;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    padding: 10px auto;
}

.col-sm-7,
.col-sm-4 {
    border: 2px solid #1f4869;
    background-color: #91a6b1;
    opacity: 0.8;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}


#current-description {
    text-transform: capitalize;
}

#current-celsius,
#current-fahrenheit {
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

#current-celsius:hover,
#current-fahrenheit:hover {
    text-decoration: underline;
}


.forecast-unit {
    padding: 25px 15px;
    margin: 25px 4px;
    border: 2px solid #1f4869;
    border-radius: 40%;
    background-color: #91a6b1;
    opacity: 0.8;
    font-weight: bold;
    font-size: 16px;
}


.col-sm-auto,
.forecast-temperature {
    display: block;
    text-align: center;

}

.col-sm-auto {
    padding-top: 13px;
}

.form {
    display: flex;
    flex-direction: row;
}

#form-input {
    margin-inline: 10px;
    border: 2px solid #1f4869;
}

.btn.btn-primary {
    margin-inline: 20px;
    background-color: #b9cad4;
    color: black;
    border: 2px solid #1f4869;
    transition: all 200ms ease;
    padding-left: 30px;
    padding-right: 30px;
}

.btn.btn-primary:hover {
    background-color: #1f4869;
    border: 2px solid #1f4869;
}

#author {
    color: #E2E7EF;
    font-size: smaller;
    text-decoration: none;
    padding-left: 15px;
}

#author:hover {
    text-decoration: underline;
}


@media (max-width: 1240px) {

    .forecast-unit {
        margin: 15px 4px;
        max-width: 21%;
        border-radius: 40%;
        font-weight: bold;
        font-size: 14px;
    }

    #forecast-icon {
        display: block;
        text-align: center;

    }

    .btn.btn-primary {
        margin-inline: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1130px) {

    .col-sm-7,
    .col-sm-4 {
        font-size: 16px;
    }

    .forecast-unit {
        margin: 10px 4px;
        padding: 0;
        font-size: 11px;
    }

    #forecast-icon {
        display: block;
        text-align: center;
    }

    .btn.btn-primary {
        margin-inline: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    .col-sm-auto,
    .forecast-temperature {
        display: block;
        text-align: center;

    }

    .col-sm-auto {
        padding-top: 13px;
    }

    #author {
        font-size: 8px;
    }
}

@media (max-width: 980px) {

    .forecast-unit {
        margin: 10px 4px;
        padding: 0 auto;
    }

    .col-sm-auto,
    .forecast-temperature {
        font-size: 11px;

    }
}

@media (max-width: 960px) {

    .container-fluid {
        display: flex;
        justify-content: space-evenly;
        padding: 0 auto;
    }

    #forecast {

        margin: 10px auto;
        border: 2px solid #1f4869;
        border-radius: 8px;
        background-color: #91a6b1;
        opacity: 0.8;
        font-weight: bold;
        font-size: 11px;
    }

    .forecast-unit {
        border: none;
    }

    .col-sm-auto {
        padding-top: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .form {
        display: flex;
        justify-content: space-evenly;
    }

    #form-input,
    .btn.btn-primary {
        margin-inline: 0;
        margin: 0 4px;
        padding: 2px 8px;
    }

}

@media (max-width: 770px) {

    .app {
        padding: 15px 15px;
        margin: 0px;
        max-width: 100%;

    }

    .forecast-unit {
        padding: 25px 15px;
        margin: 25px 4px;
        border: 2px solid #1f4869;
        border-radius: 40%;
        background-color: #91a6b1;
        opacity: 0.8;
        font-weight: bold;
        font-size: 16px;
    }

    #forecast {

        margin: 10px auto;
        border: none;
        background-color: transparent;
        opacity: 1;

    }

}

@media (max-width: 580px) {
    #forecast {

        margin: 10px auto;

        border: 2px solid #1f4869;
        border-radius: 8px;
        background-color: #91a6b1;
        opacity: 0.8;
        font-weight: bold;
        font-size: 11px;
    }

    .forecast-unit {
        border: none;
        padding: 4px;
        margin: 5px 4px;
    }

    .col-sm-7,
    .col-sm-4 {
        padding: 5px 20px;
        margin-inline: 5px;
    }

}